/.direnv
/.pre-commit-config.yaml
/Eric_Crosson_Resume.aux
/Eric_Crosson_Resume.fdb_latexmk
/Eric_Crosson_Resume.fls
/Eric_Crosson_Resume.log
/Eric_Crosson_Resume.out
/Eric_Crosson_Resume.pdf
/Eric_Crosson_Resume.synctex.gz
/result
